{% extends 'base.html' %}


{% block content %}
	

	<h2><a href="">About the Flash Message</a></h2>
	<!-- <p class="postdata"> Posted on 01.01.05 by <a href="">Author: shades</a></p> -->
  	<p> Hi! My names Jay and I'm a 20 year old web designer from England. My main projects are conducted through my website Six Shooter Media, but I (obviously) also enjoy creating Open Source web templates for general use! </p>
  	<p> Another site of mine that you might find interesting if you're setting up a site with a free tmeplate like this is Buy a Button. There, for a great price you can purchase a link to your site in the form of a button. This link will obviously provide you site with some additional traffic which is always nice!</p>

	<div id="flash_message">
		<a href="{% url 'flash_message:index' %}"></a>
		<!-- <img id="flash_message" src="../../../static/images/background.png"></a> -->	
	</div>

	<div>
	{% if messages %}
		<div id="messages">	
			{% for message in messages %}
				<p>{{ message }} </p>
			{% endfor %}
		</div>	
	{% endif %}
	</div>

	using random, flash messages, database
	random information about the content on site
	
{% endblock %}