{% extends 'base.html' %}

{% block content %}

	
	{% if messages %}
		<div id="messages">	
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>	
	{% endif %}
	


	<h2><a href=""> Authentication, login, logout and registration </a></h2>
	<p>
		{% if user.is_active%}
			Currently You are logged in as {{ user.username }}.
			If you want to log out, just click this link <a href="{% url 'auth:logged_out' %}}">Log out</a>.
		{% else %}
			Currently You are logged out.
		{% endif%}

		<br>If you don't have account yet, you can registered <a href="{% url 'auth:registration' %}">Here</a>.
	</p>

	
	<div id="login">
	<table>
	<form id="form" method="post"> {% csrf_token %}
	{{ form.as_p }}
	<input id="input" type="submit" value="Log in" />
	<button id="input" type="reset">Reset</button>
	</form>
	</table>
	</div>
	
{% endblock %}