{% extends 'base.html' %}

{% block content %}


	<h2><a href="">Edit Information:</a></h2>
	<p>You can choose the number of polls you want to fill, you can select only one or every option. If you want to remove all information just leave all the choices blank and click submit.</p>


	<table>
	<form id="form" method="post"> {% csrf_token %}

	{% for f in form %}
		{% cycle '<p><h3>Birth Year(m/d/y):</h3>' '<h3>Favorite Music:</h3>' '<h3>Favorite Color:</h3>' '<h3>Sex:</h3>' '<h3>Favorite Sports (Muliple Choices):</h3> ' '<h3>Additional Information:</h3>'%}
	{% for i in f %}
		<br>&nbsp;&nbsp;{{ i }}
	{% endfor %}
	</p>
	{% endfor %}
	<input id="input" type="submit" value="Submit" />
	</form>
	</table>


{% endblock %}