{% extends 'base.html' %}

{% block content %}
	
	<h2><a href="">About the Blog</a></h2>
  	<p>Simple blog with maximum of 5 latest posts, and 5 latest comments to each Post. ONLY logged in Users can make comments. The number of latest posts and comments can be changed, we can see even all the post and comments ever made. The order of posts and comments is from the latest one to the oldest one.</p>
	

	{% for post in posts %}
		<h2><a href="{{ post.slug }}"> {{ post.title }} </a></h2>
		<p class="postdata"> Posted on {{ post.created }} <a href="">Author: {{ post.author }} </a></p>
		<p> {{ post.description|truncatechars:199 }} </p>
	{% endfor %}
	
{% endblock %}
