{% extends 'base.html' %}

{% block content %}

		<h2> {{ post.title }} </h2>
		<p class="postdata"> Posted on {{ post.created }} <a href="">Author: {{ post.author }} </a>  <!-- || <a href="">21 Comments</a> </p> -->
		<p> {{ post.content }} </p>
		{% if post.link %}
		<div>Further reading:<a href="{{ post.link }}" target="_blank">{{ post.link_description }}</a></div>
		{% endif %}


		<br><br><br><h2> Comments </h2>
		{% if comments %}
			
			<ol>
			{% for comment in comments %}
				<p class="postdata"> Author: {{ comment.author }}. Posted on {{ comment.created }} </p>
				<li><p><h3>{{ comment.title }}</h3>{{ comment.comment }}</p><br></li>

			{% endfor %}
			</ol>
		{% endif %}
		<table id="comments">
		<form  id="form" action="" method="post"> {% csrf_token %}
			{{ form.as_table }}
		</table>
		<input id="input" type="submit" value="Submit" />
		</form>
		

{% endblock %}