{% extends 'base.html' %}

{% block content %}
	
	<h2><a href="">About the Blog</a></h2>
	<!-- <p class="postdata"> Posted on 01.01.05 by <a href="">Author: shades</a></p> -->
  	<p>Simple blog with maximum of 5 latest comments to each Post, ONLY for logged in Users. </p>
	

	{% for post in posts %}
		<h2><a href="{{ post.slug }}"> {{ post.title }} </a></h2>
		<p class="postdata"> Posted on {{ post.created }} <a href="">Author: {{ post.author }} </a>  || <a href="">21 Comments</a> </p>
		<p> {{ post.description|truncatechars:199 }} </p>
	{% endfor %}
	
{% endblock %}
