{% extends 'base.html' %}

{% block content %}

	<h2> News (Web Scraping)</h2>
	<p>Buy a Button. There, for a great price you can purchase a link to your site in the form of a button. This link will obviously provide you site with some. Every time page is refresh the stocks are also refreshed</p>
	<br><br>
	<div class="nba_news">
	<h2> Nba News (www.nba.com)</h2>
	{% for i, j, k in nba_news %}
		
		<p class="postdata"> Posted on {{ k }}</p>
		<p> {{ j }}.<br>Further reading:<a href="{{ i }}"> Link </a></p><br>
	{% endfor %}
	</div>


	<div class="stocks_news">
	<h2> Stocks News (www.gpw.pl)</h2>
	<p>You might find interesting if you're setting up a site with a free tmeplate like this is Buy a Button. There, for a great price you can purchase a link to your site in the form of a button. This link will obviously provide you site with some. Every time page is refresh the stocks are also refreshed </p>
	<ul>
	{% for st in stock %}
		<li>
		{% for i in st %}
			{{ i }}
		{% endfor %}
		</li>
	{% endfor %}
	</ul>
	</div>	


{% endblock %}